.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 19px;
    margin: 44px 0px 0px 194px;
}

@media screen and (max-width: 950px) {
    .skills {
        margin-left: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}